@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
    background-color: #020923;
}

h1 {
    color:#958383;
    font-weight: bold;
    font-size: 64px;
    margin: auto;
    width: 90%;
}

.card-container {
    padding-top: 100px;
}

.cards {
    margin: auto;
    width: 90%;
}

#imgSun {
    float:left;
}

.planet-list-1 {
    display: flex;
    list-style: none;
    padding-inline-start: 12px;
  }

  .planet-list-2 {
    display: flex;
    margin-top: 25px;
    list-style: none;
    padding-inline-start: 12px;
  }

.planets {
    flex: auto;
    padding-left: 12px;
    padding-right: 12px;
    
}